.sertitle{

margin-left: 35rem;
text-decoration: underline;
text-decoration-color:blue;
text-decoration-thickness: 0.25rem;
margin-bottom: 4rem;
color: white;
}

.sermain{
    height:100vh;
    margin-left: 3rem;

}


@media screen and (max-width:480px) {
    .sercontext{
        margin-top: 5rem;
        margin-right: 4rem;
    
    
    }

    .sertitle{
        margin-top: 45rem;
        margin-left: 6rem;

    }
    
}